h1, h2, h3, p, ol{
  font-family: "Lora", serif;
  color: white;
}

/* Style for the header section */
.header{
    background-color: #8ba888;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

    h1, p{
        color: white;
        font-family: "Lora", serif;
        text-align: center;
    }

}

/* Style for the short recipe cards */
.recipe-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #8ba888;
    padding: 20px;

    h2{
        text-align: center;
    }

    h2, p{
        color: white;
        font-family: "Lora", serif;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

.recipe-card-container{
    display: grid;
  /* Creates two columns of equal width that take up all available space */
  grid-template-columns: 1fr 1fr;
  /* Optional: Adds space between the grid items */
  gap: 20px; 
  /* Optional: Defines the height of implicitly created rows (adjust as needed) */
  grid-auto-rows: auto; 
}


.btn{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: #ffffff;
    color:#333;
}

.popup{
    width: 300px;
    background-color: #8ba888;
    border-radius: 20px;
    border-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    padding: 10px;
}

.open-popup{
    visibility: visible;
}

